<details [open]="isOpen">
  <summary (click)="changeSelectionState($event)" [ngClass]="isSelected ? 'active' : ''"
    routerLink="content/{{tocItemIndex}}/{{ tocLink.title }}">
    <div class="container-fluid p-0">
      <div class="row g-0 fm-toc-item align-items-center">
        <!-- <div class="col-2 text-center">
          <span class="text-center fm-toc-item-number">{{ tocItemIndex + 1 }}</span>
        </div> -->
        <div class="offset-1 col-9">
          <div>
            <p>{{ tocItem.title }}</p>
          </div>
        </div>
        <div class="col-2 text-center">
          <i class="bi bi-caret-right-fill" *ngIf="tocLink.sections.length"
          [ngClass]="isOpen ? 'fm-animate-dropdown' : 'fm-animate-dropdown-reverse'"></i>
        </div>
      </div>
    </div>
  </summary>
  <div class="container-fluid p-0 toc-subheadings border" *ngFor="let subheading of tocItem.sections, index as i">
    <div class="row g-0">
      <div class="col-2 text-center">
        <!-- <p class="text-center">{{ subheading_numbering[i] }}</p> -->
        <p class="text-center">{{ i + 1 }}</p>
      </div>
      <div class="col-9">
        <a [routerLink]="['content',tocItemIndex, tocLink.title]" fragment="{{tocLink.sections[i]}}">
          <p>{{ subheading }}</p>
        </a>
      </div>
    </div>
  </div>
</details>