<div class="fm-splash">
  <div class="container-fluid p-0">
    <div class="row g-0">
      <div class="col-6 col-md-4 col-lg-3 col-xl-3 fm-splash-images-group">
        <!-- <div class="fm-splash-images" *ngFor="let image of images">
          <img src="../../../assets/{{image}}" alt="" class="img-fluid fm-splash-image">
        </div> -->
      </div>
    </div>
  </div>
  <!-- <div class="container-fluid fm-splash-hero">
    <div class="row g-0">
      <div class="offset-md-3 col-md-6 offset-lg-3 col-lg-6 offset-xl-4 col-xl-4">
        <div class="fm-splash-icon">
          <h1 class="fm-header text-center p-3 m-0">Department of Family Medicine</h1>
          <div class="fm-heading-divider"></div>
          <img src="../../../assets/residents/emblem.png" alt="{{randomImage.content[0]}}" 
          class="img-fluid fm-splash-icon-image">
          <p class="fm-smaller-text p-3">{{ randomImage.content[1] }}</p>
        </div>
      </div>
    </div>
  </div>  -->
</div>